﻿@model AppCenar.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Session";
}

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Click Me</div>
        </div>
        <div class="form">
            <h2>Iniciar Session</h2>
            <form>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)

                <input type="submit" value="Log in" />
            </form>
            @Html.ActionLink("Registrate", "Register") si aun no tienes una cuenta.
        </div>
        <div class="cta">
            <a href="http://andytran.me">Forgot your password?</a>
        </div>
    </div>
    <br/>
    <br/>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
