﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    ViewBag.Title = "Home Page";
}
   <div class="banner wow fadeInUp" data-wow-delay="0.4s" id="Home">
            <div class="container">
                <div class="banner-info">
                    <div class="banner-info-head text-center wow fadeInLeft" data-wow-delay="0.5s">
                        <h1>Red de más de 5000 restaurantes</h1>
                        <div class="line">
                            <h2>Para ordenar en línea</h2>
                        </div>
                    </div>
                    <div class="form-list wow fadeInRight" data-wow-delay="0.5s">
                        <form>
                            <ul class="navmain">
                                <li><span>Nombre del lugar</span>
                                    <input type="text" class="text" value="Piantini" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Secunderabad';}">
                                </li>
                                <li><span>Nombre del restaurante</span>
                                    <input type="text" class="text" value="Cristino" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Swagath Grand';}">
                                </li>
                                <li><span>Nombre del Plato</span>
                                    <input type="text" class="text" value="Chicken Biriyani" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Chicken Biriyani';}">
                                </li>
                            </ul>
                        </form>
                    </div>
                    <!-- start search-->
                    <div class="main-search">
                        <form action="search.html">
                            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" class="text" />
                            <input type="submit" value="" />
                        </form>
                        <div class="close">
                            <img src="images/cross.png" />
                        </div>
                    </div>
                    <div class="srch">
                        <button></button>
                    </div>
                    <script type="text/javascript">
                        $('.main-search').hide();
                        $('button').click(function () {
                            $('.main-search').show();
                            $('.main-search text').focus();
                        }
                        );
                        $('.close').click(function () {
                            $('.main-search').hide();
                        });
                    </script>

                </div>
            </div>
        </div>


<div class="content">
		<div class="ordering-section" id="Order">
			<div class="container">
				<div class="ordering-section-head text-center wow bounceInRight" data-wow-delay="0.4s">
					<h3>Pedir comida nunca fue tan fácil</h3>
					<div class="dotted-line">
						<h4>Sólo 4 pasos a seguir</h4>
					</div>
				</div>
				<div class="ordering-section-grids">
					<div class="col-md-3 ordering-section-grid">
						<div class="ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class="one"></i><br>
							<i class="one-icon"></i>
							<p>Escoje <span>tu restaurante</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 ordering-section-grid">
						<div class="ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class="two"></i><br>
							<i class="two-icon"></i>
							<p>Ordena  <span>tu plato</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 ordering-section-grid">
						<div class="ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class="three"></i><br>
							<i class="three-icon"></i>
							<p>Paga   <span> en linea / o al entregar</span></p>
							<label></label>
						</div>
					</div>
					<div class="col-md-3 ordering-section-grid">
						<div class="ordering-section-grid-process wow fadeInRight" data-wow-delay="0.4s">
							<i class="four"></i><br>
							<i class="four-icon"></i>
							<p>Disfruta <span>tu comida </span></p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="special-offers-section">
			<div class="container">
				<div class="special-offers-section-head text-center dotted-line">
					<h4>Ofertas especiales</h4>
				</div>
				<div class="special-offers-section-grids">
				 <div class="m_3"><span class="middle-dotted-line"> </span> </div>
				   <div class="container">
					  <ul id="flexiselDemo3">
						<li>
							<div class="offer">
								<div class="offer-image">	
									<img src="~/Images/p1.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="offer-text">
									<h4>Ostras</h4>
									<p>Si eres amante de los mariscos, este será un excelente plato para debustar. </p>
									<input type="button" value="Ordenar">
									<span></span>
								</div>
								<div class="clearfix"></div>
							</div>
						</li>
						<li>
							<div class="offer">
								<div class="offer-image">	
									<img src="~/Images/p3.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="offer-text">
									<h4>Cangrejo</h4>
									<p>Cangrejo con salsa César, muy rico para disfrutar. </p>
									<input type="button" value="Ordenar">
									<span></span>
								</div>
								
								<div class="clearfix"></div>
								</div>
						</li>
						<li>
							<div class="offer">
								<div class="offer-image">	
									<img src="~/Images/p2.jpg" class="img-responsive" alt=""/>
								</div>
								<div class="offer-text">
									<h4>Pollo Horneado en Champagne</h4>
									<p>Disfruya ya de este rico y saludable pollo al horno.</p>
									<input type="button" value="Ordenar">
									<span></span>
								</div>
								
								<div class="clearfix"></div>
								</div>
					    </li>
					 </ul>
				 <script type="text/javascript">
					$(window).load(function() {
						
						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: false,
							autoPlaySpeed: 3000,    		
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: { 
								portrait: { 
									changePoint:480,
									visibleItems: 1
								}, 
								landscape: { 
									changePoint:640,
									visibleItems: 2
								},
								tablet: { 
									changePoint:768,
									visibleItems: 3
								}
							}
						});
						
					});
				    </script>
                       <script src="~/Scripts/jquery.flexisel.js"></script>
				</div>
			</div>
		</div>
		</div>
		<div class="popular-restaurents" id="Popular-Restaurants">
			<div class="container">
				<div class="col-md-4 top-restaurents">
					<div class="top-restaurent-head">
						<h3>Los mejores restaurantes</h3>
					</div>
					<div class="top-restaurent-grids">
						<div class="top-restaurent-logos">
							<div class="res-img-1 wow bounceIn" data-wow-delay="0.4s">
								<img src="~/Images/restaurent-1.jpg" class="img-responsive" alt="" />
							</div>
							<div class="res-img-2 wow bounceIn" data-wow-delay="0.4s">
							    <img src="~/Images/restaurent-2.jpg" class="img-responsive" alt="" />
							</div>
							<div class="res-img-1 wow bounceIn" data-wow-delay="0.4s">
							    <img src="~/Images/restaurent-3.jpg" class="img-responsive" alt="" />
							</div>
							<div class="res-img-2 wow bounceIn" data-wow-delay="0.4s">
							    <img src="~/Images/restaurent-4.jpg" class="img-responsive" alt="" />
							</div>
							<div class="res-img-1 nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							    <img src="~/Images/restaurent-5.jpg" class="img-responsive" alt="" />
							</div>
							<div class="res-img-2 nth-grid1 wow bounceIn" data-wow-delay="0.4s">
							    <img src="~/Images/restaurent-6.jpg" class="img-responsive" alt="" />
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-8 top-cuisines">
					<div class="top-cuisine-head">
						<h3>Los mejores platos</h3>
					</div>
					<div class="top-cuisine-grids">
						<div class="top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine1.jpg" class="img-responsive" alt="" /> </a>
							<label>Pizza</label>
					    </div>
						<div class="top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine2.jpg" class="img-responsive" alt="" /> </a>
							<label>Hamburguesa</label>
					    </div>
						<div class="top-cuisine-grid wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine3.jpg" class="img-responsive" alt="" /> </a>
							<label>Dona</label>
					    </div>
						<div class="top-cuisine-grid nth-grid wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine4.jpg" class="img-responsive" alt="" /> </a>
							<label>Guizado</label>
					    </div>
						<div class="top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine5.jpg" class="img-responsive" alt="" /> </a>
							<label>Pollo</label>
					    </div>
						<div class="top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine6.jpg" class="img-responsive" alt="" /> </a>
							<label>Paella</label>
					    </div>
						<div class="top-cuisine-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine7.jpg" class="img-responsive" alt="" /> </a>
							<label>Pastas</label>
					    </div>
						<div class="top-cuisine-grid nth-grid nth-grid1 wow bounceIn" data-wow-delay="0.4s">
						    <a href=""><img src="~/Images/cuisine8.jpg" class="img-responsive" alt="" /> </a>
							<label>Pastas Criollas</label>
					    </div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="service-section">
			<div class="service-section-top-row">
				<div class="container">
					<div class="service-section-top-row-grids wow bounceInLeft" data-wow-delay="0.4s">
					<div class="col-md-3 service-section-top-row-grid1">
						<h3>Disfrute de una comida exclusiva</h3>
					</div>
					<div class="col-md-2 service-section-top-row-grid2">
						<ul>
							<li><i class="arrow"></i></li>
							<li class="lists">Para fiesta</li>
						</ul>
						<ul>
							<li><i class="arrow"></i></li>
							<li class="lists">Hecha en casa</li>
						</ul>
						<ul>
							<li><i class="arrow"></i></li>
							<li class="lists">Comida dietetica</li>
						</ul>
					</div>
					<div class="col-md-5 service-section-top-row-grid3">
						<img src="~/Images/lunch.png" class="img-responsive" alt="" />
					</div>
					<div class="col-md-2 service-section-top-row-grid4 wow swing animated" data-wow-delay= "0.4s">
						<a href="order.html"><input type="submit" value="Ordenar ahora"></a>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="service-section-bottom-row">
				<div class="container">
					<div class="col-md-4 service-section-bottom-grid wow bounceIn "data-wow-delay="0.2s">
						<div class="icon">
							<img src="~/Images/icon1.jpg" class="img-responsive" alt="" />
						</div>
						<div class="icon-data">
							<h4>100% Garantía de servicio</h4>
							<p>con más de 16 años de experiencia, garantiza la rentabilidad de tu compra online tras la publicación del mismo.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 service-section-bottom-grid wow bounceIn "data-wow-delay="0.2s">
						<div class="icon">
							<img src="~/Images/icon2.jpg" class="img-responsive" alt="" />
						</div>
						<div class="icon-data">
							<h4>Pago Totalmente Seguro</h4>
							<p>No guardamos los números de tarjeta de créditos para los pagos.</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-4 service-section-bottom-grid wow bounceIn "data-wow-delay="0.2s">
						<div class="icon">
							<img src="~/Images/icon3.jpg" class="img-responsive" alt="" />
						</div>
						<div class="icon-data">
							<h4>Rastrea tu orden</h4>
							<p>Te damos dos opciones para rastrear tu Orden. </p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="contact-section" id="contact">
			<div class="container">
				<div class="contact-section-grids">
					<div class="col-md-6 contact-section-grid wow fadeInRight" data-wow-delay="0.4s">
						<h4>Siguenos en...</h4>
						<ul>
							<li><i class="fb"></i></li>
							<li class="data"> <a href="#"> Facebook</a></li>
						</ul>
						<ul>
							<li><i class="tw"></i></li>
							<li class="data"> <a href="#">Twitter</a></li>
						</ul>
						<ul>
							<li><i class="in"></i></li>
							<li class="data"><a href="#"> Linkedin</a></li>
						</ul>
						<ul>
							<li><i class="gp"></i></li>
							<li class="data"><a href="#">Google Plus</a></li>
						</ul>
					</div>
					<div class="col-md-6 contact-section-grid nth-grid wow fadeInRight" data-wow-delay="0.4s">
						<h4>Suscribir Boletín</h4>
						<p>Para obtener las últimas actualizaciones y ofertas de comida cada semana</p>
						<input type="text" placeholder="Correo" class="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						<input type="submit" value="Enviar">
						</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>