﻿@model AppCenar.Models.Category

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Crear categoria</h2>
<br/><br/>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="col-xs-12">
        <div class="form-group form-group-sm">
            @Html.LabelFor(c => c.Name, "Nombre")
            @Html.TextBoxFor(x => Model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(f => f.Name, null, new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Crear" class="btn btn-primary pull-right" />
           
    <div>
        <h4>@Html.ActionLink("Volver Atras", "Index", new { @class = "volverAtras" })</h4>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>