﻿@model AppCenar.Models.Category

@{
    ViewBag.Title = "Delete";
}
<div class="text-center">

    <h2>Eliminar Categoria - @Model.Name</h2>

    <h3>Esta seguro de eliminar esta categoria?</h3>

    <br />
    <br />
    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name, "Nombre")
    </div>

    <br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="btn btn-danger" value="Eliminar" /> |          @Html.ActionLink("Volver Atras", "Index", new { @class = "volverAtras" })
        </p>
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
