﻿@model AppCenar.Models.Category

@{
    ViewBag.Title = "Details";
}
<div class="text-center">
    
<h2 >Detalle</h2>
<br/>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
<br/>
<br/>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.IdCategory }) |
    @Html.ActionLink("Volver a atras", "Index")
</p>
    
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>