﻿@model IEnumerable<AppCenar.Models.Category>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Crear", "Create")
</p>

<br/>
<br/>

<table class="table table-bordered table-striped dataTable text-center font-size-table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdCategory }) 
                </td>
                <td>
                    @Html.ActionLink("Detalle", "Details", new {id = item.IdCategory})
                </td>
                <td>
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdCategory })
                </td>
            </tr>
        }
    </tbody>
</table>

<br/>
<br/>

<br/>
<br/>
<br/>
<br/>

<br/>
<br/>

