﻿@model AppCenar.Models.RestaurantDetails

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RestaurantDetails</legend>
        
        <div class="editor-label">
            @Html.HiddenFor(model => model.IdRestaurant)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategory, "Categoria")
        </div>

        <div class="editor-field">
           @Html.DropDownList("IdCategory",(IEnumerable<SelectListItem>)ViewBag.Categorys)
        </div>
        <div class="editor-field">
            @Html.ValidationMessageFor(model => model.IdCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Nombre")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price, "Precio")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
