﻿@model AppCenar.Models.RestaurantDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RestaurantDetails</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdRestaurant)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdRestaurant)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCategory)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCategory)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdRestaurantDetails }) |
    @Html.ActionLink("Back to List", "Index")
</p>
