﻿@model AppCenar.Models.RestaurantDetails

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RestaurantDetails</legend>

        @Html.HiddenFor(model => model.IdRestaurantDetails)

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRestaurant)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdRestaurant)
            @Html.ValidationMessageFor(model => model.IdRestaurant)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategory)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCategory)
            @Html.ValidationMessageFor(model => model.IdCategory)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
