﻿@model AppCenar.Models.Restaurant

@{
    ViewBag.Title = "Create";
}

<h2>Crear nuevo restaurante</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="col-xs-12">
            <div class="form-group form-group-sm">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(x => Model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(f => f.Name, null, new { @class = "text-danger" })
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.Presupuesto)
                @Html.TextBoxFor(x => Model.Presupuesto, new { @class = "form-control" })
                @Html.ValidationMessageFor(f => f.Presupuesto, null, new { @class = "text-danger" })
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.Picture)
                @Html.TextBoxFor(x => Model.Picture, new { @class = "form-control" })
                @Html.ValidationMessageFor(f => f.Picture, null, new { @class = "text-danger" })
            </div>
            <div class="form-group form-group-sm">
                @Html.LabelFor(model => model.Rating)
                @Html.TextBoxFor(x => Model.Rating, new { @class = "form-control" })
                @Html.ValidationMessageFor(f => f.Rating, null, new { @class = "text-danger" })
            </div>
            <input type="submit" value="Crear" class="btn btn-primary pull-right" />
        </div>
        <div>
          <h4>@Html.ActionLink("Volver Atras", "Index", new { @class = "volverAtras" })</h4>  
        </div>
}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
