﻿@model AppCenar.Models.Restaurant

@{
    ViewBag.Title = "Eliminar";
}
<div class="text-center">
    <br />
    <h2>Eliminar Restaurante - @Model.Name</h2>
    <h3>Esta seguro de eliminar este restaurante?</h3>

    <br />
    <br />
    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Name)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <br />
    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Presupuesto)</h4>
    </div>
    <br />
    <div class="display-field">
        @Html.DisplayFor(model => model.Presupuesto)
    </div>

    <br />
    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Picture)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Picture)
    </div>
    <br />

    <div class="display-label">
        <h4>@Html.DisplayNameFor(model => model.Rating)</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>

    <br />
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" class="btn btn-danger" value="Eliminar" />
            |
          <h4>@Html.ActionLink("Volver Atras", "Index", new { @class = "volverAtras" })</h4>  
        </p>
    }
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
