﻿@model AppCenar.Models.Restaurant

@{
    ViewBag.Title = "Editar";
}

<fieldset>
    <legend>Edicion Restaurante - @Model.Name</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Presupuesto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Presupuesto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Picture)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Picture)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rating)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IdRestaurant }) |
    @Html.ActionLink("Back to List", "Index")
</p>
