﻿@model List<AppCenar.Models.Restaurant>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Restaurantes Populares";
}

<script src="~/Scripts/Restaurant/geo.js"></script>
<script src="~/Scripts/Restaurant/TraceRoute.js"></script>

<div class="Popular-Restaurants-content">
    <div class="Popular-Restaurants-grids">
        <div class="container">
            @foreach (var restaurant in Model)
            {
                <div class="Popular-Restaurants-grid wow fadeInRight" data-wow-delay="0.4s">
                    <div class="col-md-3 restaurent-logo">
                        <img src="@restaurant.Picture" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-2 restaurent-title">
                        <div class="logo-title">
                            <h4><a href="#">@restaurant.Name</a></h4>
                        </div>
                        <a class="logo-title" href="@Url.Action("TrazarRuta", "PopularRestaurant")?location=@restaurant.Location">Trazar Ruta</a>
                        <div class="rating">
                            <span>Ratings</span>
                              @if (@restaurant.Rating <= 3.9)
                            {
                                <a href="#">
                                    <img src="~/Images/star1.png" class="img-responsive" alt=""></a>                                    
                            }
                              @if (@restaurant.Rating >= 4)
                            {
                                <a href="#">
                                    <img src="~/Images/star2.png" class="img-responsive" alt=""></a>                                    
                            }
                        </div>
                    </div>
                    <div class="col-md-7 buy">
                        @if (Request.IsAuthenticated)
                        { 
                            <a href="@Url.Action("Create", "RestaurantDetails")?idRestaurant=@restaurant.IdRestaurant"> Crear Detalle</a>
                             <p>| @Html.ActionLink("Eliminar", "Delete", new { id= @restaurant.IdRestaurant })  |   @Html.ActionLink("Editar", "Edit", new { id= @restaurant.IdRestaurant })</p>
                              
                        }
                        <span>@restaurant.Presupuesto</span>
                        <a class="morebtn hvr-rectangle-in" href="@Url.Action("Index", "OrderList")?idRestaurant=@restaurant.IdRestaurant">Ver Menu</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</div>
