﻿<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAfmb40DA2jKn1MfKJPrszigqMoBwQQt7s"></script>
<script type="text/javascript">
    var directionsDisplay, location2, location1;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            location1 = position.coords.latitude + "," + position.coords.longitude;
        }, function () {
            alert("este navegador no soporta el uso de mapas.");
        });
    }
    var directionsService = new google.maps.DirectionsService();

    location2 = window.location.href.split("=")[1];

    function InitializeMap() {
        directionsDisplay = new google.maps.DirectionsRenderer();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var myOptions =
        {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        directionsDisplay.setMap(map);
        directionsDisplay.setPanel(document.getElementById('directionpanel'));
        var control = document.getElementById('control');
        control.style.display = 'block';
        calcRoute();
    }

    function calcRoute() {
        var request = {
            origin: location1,
            destination: location2,
            travelMode: google.maps.DirectionsTravelMode.DRIVING
        };
        directionsService.route(request, function (response, status) {
            if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
            }
        });
    }
    window.onload = InitializeMap;
</script>
<h1 class="text-center"> Ruta </h1>
<br/>
<br/>
<table id="control">
    <tr>
        <td valign="top">
            <div class="row">
                <div class="col-xs-6">
                    <div id="directionpanel" style="height: 390px; margin-left: 50px; overflow: auto"></div>

                </div>
                <div class="col-xs-6">
                    <div id="map" style="height: 450px; margin-left: 50px; width: 620px"></div>
                </div>
            </div>
        </td>
    </tr>
</table>
<br />
<br />



