﻿@using System.Diagnostics.Eventing.Reader
@using AppCenar.Models
@model  List<AppCenar.Models.RestaurantDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Lista para ordenar";
}
<script src="~/Scripts/simpleCart.min.js"></script>

<!-- content-section-starts -->
<div class="orders">
    <div class="container">

        @if (Model.Any())
        {
            foreach (var restaurantDetails in Model)
             {
                 if (restaurantDetails.IdCategory == (int) CategoryEnum.Hamburguesas)
                 {
                     <div class="order-top">
                         <li class="item-lists">
                             <h4>Hamburguesas</h4>
                             <p>@restaurantDetails.Name</p>
                         </li>
                         <li class="item-lists">
                             <div class="special-info grid_1 simpleCart_shelfItem">
                                 <h4>Precio</h4>
                                 <div class="pre-top">
                                     <div class="pr-left">
                                         <div class="item_add">
                                             <span class="item_price">
                                        <h6>Solo $@restaurantDetails.Price</h6>
                                    </span>
                                         </div>
                                     </div>
                                     <div class="pr-right">
                                         <div class="item_add"><span class="item_price"><a href="#">Ordenar</a></span></div>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                             </div>
                         </li>
                         <div class="clearfix"></div>
                     </div>
                 }
                 else if (restaurantDetails.IdCategory == (int) CategoryEnum.Helados)
                 {
                     <div class="order-top">
                         <li class="item-lists">
                             <h4>Helados</h4>
                             <p>@restaurantDetails.Name</p>
                         </li>
                         <li class="item-lists">
                             <div class="special-info grid_1 simpleCart_shelfItem">
                                 <h4>Precio</h4>
                                 <div class="pre-top">
                                     <div class="pr-left">
                                         <div class="item_add">
                                             <span class="item_price">
                                        <h6>Solo $@restaurantDetails.Price</h6>
                                    </span>
                                         </div>
                                     </div>
                                     <div class="pr-right">
                                         <div class="item_add"><span class="item_price"><a href="#">Ordenar</a></span></div>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                             </div>
                         </li>
                         <div class="clearfix"></div>
                     </div>
                 }
                 else if (restaurantDetails.IdCategory == (int) CategoryEnum.Pizza)
                 {
                     <div class="order-top">
                         <li class="item-lists">
                             <h4>Pizza</h4>
                             <p>@restaurantDetails.Name</p>
                         </li>
                         <li class="item-lists">
                             <div class="special-info grid_1 simpleCart_shelfItem">
                                 <h4>Precio</h4>
                                 <div class="pre-top">
                                     <div class="pr-left">
                                         <div class="item_add">
                                             <span class="item_price">
                                        <h6>Solo $@restaurantDetails.Price</h6>
                                    </span>
                                         </div>
                                     </div>
                                     <div class="pr-right">
                                         <div class="item_add"><span class="item_price"><a href="#">Ordenar</a></span></div>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                             </div>
                         </li>
                         <div class="clearfix"></div>
                     </div>
                 }
                 else if (restaurantDetails.IdCategory == (int) CategoryEnum.Sandwiches)
                 {
                     <div class="order-top">
                         <li class="item-lists">
                             <h4>Sandwiches</h4>
                             <p>@restaurantDetails.Name</p>
                         </li>
                         <li class="item-lists">
                             <div class="special-info grid_1 simpleCart_shelfItem">
                                 <h4>Precio</h4>
                                 <div class="pre-top">
                                     <div class="pr-left">
                                         <div class="item_add">
                                             <span class="item_price">
                                        <h6>Solo $@restaurantDetails.Price</h6>
                                    </span>
                                         </div>
                                     </div>
                                     <div class="pr-right">
                                         <div class="item_add"><span class="item_price"><a href="#">Ordenar</a></span></div>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                             </div>
                         </li>
                         <div class="clearfix"></div>
                     </div>
                 }
                 else if (restaurantDetails.IdCategory == (int) CategoryEnum.Postres)
                 {
                     <div class="order-top">
                         <li class="item-lists">
                             <h4>Postres</h4>
                             <p>@restaurantDetails.Name</p>
                         </li>
                         <li class="item-lists">
                             <div class="special-info grid_1 simpleCart_shelfItem">
                                 <h4>Precio</h4>
                                 <div class="pre-top">
                                     <div class="pr-left">
                                         <div class="item_add">
                                             <span class="item_price">
                                        <h6>Solo $@restaurantDetails.Price</h6>
                                    </span>
                                         </div>
                                     </div>
                                     <div class="pr-right">
                                         <div class="item_add"><span class="item_price"><a href="#">Ordenar</a></span></div>
                                     </div>
                                     <div class="clearfix"></div>
                                 </div>
                             </div>
                         </li>
                         <div class="clearfix"></div>
                     </div>
                 }
             }
        }
        else
        {
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
            <h1 class="text-center">Este restaurante no tiene nada en su menu aun.</h1>
        }
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
