﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Realizar Orden";
}
<div class="order-section-page">
    <div class="ordering-form">
        <div class="container">
            <div class="order-form-head text-center wow bounceInLeft" data-wow-delay="0.4s">
                <h3>Formulario de pedido de restaurante</h3>
                <p>Pedir comida nunca fue tan simple !!!!!!</p>
            </div>
            <div class="col-md-6 order-form-grids">

                <div class="order-form-grid  wow fadeInLeft" data-wow-delay="0.4s">
                    <h5>Información del pedido</h5>
                    <span>Tipo de pedido</span>
                    <div class="dropdown-button">
                        <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                            <option value="0">Recoger</option>
                            <option value="1">Entrega</option>
                        </select>
                    </div>
                    <span>Ubicación del restaurante</span>
                    <div class="dropdown-button wow">
                        <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                            <option value="0">Calle Freddy Prestol Castillo, Santo Domingo, República Dominicana</option>
                            <option value="1">Av. Rómulo Betancourt #1316, Santo Domingo, República Dominicana</option>
                        </select>
                    </div>
                    <span>Location name</span>
                    <div class="dropdown-button">
                        <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                            <option value="0">Yokomo</option>
                            <option value="1">Cristino</option>
                        </select>
                    </div>
                    <span>cuisine-name</span>
                    <div class="dropdown-button">
                        <select class="dropdown" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                            <option value="0">Sushi Roll</option>
                            <option value="1">Volcane Roll</option>
                        </select>
                    </div>
                    <input type="text" class="text" value="Tiempo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tiempo';}"><br>
                    <div class="wow swing animated" data-wow-delay="0.4s">
                        <input type="button" value="Ordenar ahora">
                    </div>
                </div>
            </div>
            <div class="col-md-6 ordering-image wow bounceIn" data-wow-delay="0.4s">
                <img src="~/images/order.jpg" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</div>
