﻿@{
    ViewBag.Title = "Index";
}

<div class="contact-section-page">
    <div class="contact_top">
        <div class="container">
            <div class="col-md-6 contact_left wow fadeInRight" data-wow-delay="0.4s">
                <h4>Formulario de contactos</h4>
                <p>Comunicate con nosotros, asi como informanos de algunos problemas que puedaa tener la plataforma.</p>
                <form>
                    <div class="form_details">
                        <input type="text" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                        <input type="text" class="text" value="Correo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
                        <input type="text" class="text" value="Tema" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
                        <textarea value="Mensaje" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mensaje';}">Mensaje</textarea>
                        <div class="clearfix"></div>
                        <div class="sub-button wow swing animated" data-wow-delay="0.4s">
                            <input name="submit" type="submit" value="Enviar mensaje">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
